body {
    margin: 0%;
    font-family: 'Karla', sans-serif;
}

.box {
    padding: 20px;
    width: 550px;
    height: 400px;
    background-color:#2F3E53;
    
}

.inner-box-header {
    color: white;
    font-weight: 700px;
    margin-bottom: 5px;
}

.inner-box-header span {
    color: #10B981;

}

.inner-box-paragraph { 
    font-size: 24px;
    color: white;
    font-weight: 400px;
    margin-top: 3px;
}

#generate-password { 
    padding: 10px 30px;
    border-radius: 5px;
    background-color: #10B981;
    border: none;
    cursor: pointer;
    color: white;
    letter-spacing: 1px;
}

#generate-password:hover {
    background-color: rgb(9, 135, 93)
}

hr {
    background-color:#10B981;
    border: 0.1px solid #10B981;
}
.passwords {
    display: flex;
    justify-content: space-around;
    margin-top: 35px;
    color: #10B981;
}

#password1 , #password2 {
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #273549;
    border: none;;
    color:#10B981;
    letter-spacing: 1px;
}
#empty {
    padding: 10px 30px;
    border-radius: 5px;
    background-color: #10B981;
    border: none;
    cursor: pointer;
    color: white;
    letter-spacing: 1px;
    margin-top: 10px;
}